.navbar-brand {
	padding: 0px;
}

.logo {
 height: 100%;
}

.img1 {
 display: block;
 width: 100%;
 margin-top: 52px;
}

body {
	background-color: rgba(97, 152, 255, 0.2);
}

.page-header {
	text-align: center;
}

button.btn.btn-default {
	margin-top: 8px;
}

.img-responsive {
	text-align: center;
}

.thumbnail img {
	text-align: center;
}

.contact {
	background-color: #F8F8F8;
	height: 60px;
	text-align: center;
	margin-top: 20px;
	width: 100%;
}

.contact p {
	margin-top: 15px;
}

.navbar-right li a {
	padding-top: 5px;
	padding-bottom: 5px;
}

@font-face {
    font-family: "Champagne";
    src: url('Champagne.ttf');
}
@font-face {
    font-family: "Champagne italic";
    font-style: italic;
    src: url('Champagne Italic.ttf');
}
@font-face {
    font-family: "Champagne bold";
    font-weight: bold;
    src: url('Champagne Bold.ttf');
}

@font-face {
	font-family: "Champagne bold italic";
	font-weight: bold, italic;
	src: url('Champagne Bold Italic.ttf');
}

.navbar {
	box-shadow: 1px 1px 5px #CCCCCC;
    font-family: 'Open Sans', sans-serif;
}

.logofoot img {
	border-radius: 100%;
	height: 30px;
	width: 30px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Champagne bold";
}
.caption {
    background-color: #E7E7E7;
    text-align: center;
}

.social {
    margin-left: 5px;
}

.contact {
    background-color: #F8F8F8;
}

.bouton {
    border: 1px solid;
    border-radius: 4px;
}

#bouton:hover{
    border: 1px solid rgba(97, 152, 255, 0.7);
    color: #FF6600;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #FF6600;
}

#bouton {
    border: 1px solid #FF6600;
    color: #428BCA;
}